.card-box{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-top: 100px;
    height: 330px;
}

.image img{
    margin-top: -70px;
}

.text-section{
    padding: 20px;
    color: white;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}